body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
}
header {
    background-color: #17375f;
    width: 100%;
    height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    box-sizing: border-box;
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding-right: 20px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu a:hover {
    opacity: 0.7;
}

.btn-registro a {
    background-color: #F9B748;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn-registro a:hover {
    background-color: #e0a33d;
}

h2 {
    font-size: 26px;
    margin: 25px 40px 5px 40px;
}

p {
    margin-left: 40px;
    color: #444;
}

.stars {
    margin-left: 40px;
    margin-top: -5px;
}

button {
    margin-left: 40px;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.reservar{
    background-color: #17375f;
}

button:hover {
    background-color: #e0a33d;
}

.contenedor {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.imagenes {
    background-color: #ddd;
    height: 400px;
    border-radius: 15px;
}
.comentario, .mapa {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.mapa {
    height: 250px;
}

.descripcion {
    grid-column: span 2;
    margin-left: 0;
    line-height: 1.6;
    color: #333;
}

.servicios {
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.servicios span {
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 5px;
}

footer {
    background-color: #17375f;
    text-align: center;
    padding: 20px 40px;
    font-size: 14px;
    line-height: 1.4;
    p{
        color: #fff;
    }
}

.f-principal {
    font-weight: bold;
    margin-bottom: 5px;
}